/* Main CSS file */

@import '_example/example.css';

.settingsDiv {
  margin-left: 30px;
}

.settingsDiv > button {
  margin-left: 1%;
}

.historyDiv {
  margin-left: 30px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 5ms ease-in;
}
